extends layout

block content
  #text
    h1#status Desert Bus Is Not Currently Auctioning Anything
      h1#item Current Item: ???
      h1#going
      h1#price Current Price: $0.00
      h1#bidder Auction High Bidder: None

