extends layout

block content
   .mainBlock.uk-grid
     .uk-width-medium-1-1.uk-width-small-1-1.statusGrid.grid
       h1#status Desert Bus Is Not Currently Auctioning Anything
     .uk-width-medium-1-2.uk-width-small-1-1.itemGrid.grid.leftPanel
       h1#item Current Item: ???
     .uk-width-medium-1-2.uk-width-small-1-1.goingGrid.grid.rightPanel
       h1#going
     .uk-width-medium-1-2.uk-width-small-1-1.priceGrid.grid.leftPanel
       h1#price Current Price: $0.00
     .uk-width-medium-1-2.uk-width-small-1-1.highBidderGrid.grid.rightPanel
       h1#bidder Auction High Bidder: None



