extends layout
nav.uk-navbar
  a.uk-navbar-brand(href='') DB9 Auction Stats
    ul.uk-navbar-nav
      li
        a(href='/') Latest
      li
        a(href='/winnerList') Winners
block content
   .mainBlock.uk-grid
     .uk-width-medium-1-1.statusGrid.grid
       h1#status Desert Bus Is Not Currently Auctioning Anything
     .uk-width-medium-1-2.itemGrid.grid.leftPanel
       h1#item Current Item: ???
     .uk-width-medium-1-2.goingGrid.grid.rightPanel
       h1#going
     .uk-width-medium-1-2.priceGrid.grid.leftPanel
       h1#price Current Price: $0.00
     .uk-width-medium-1-2.highBidderGrid.grid.rightPanel
       h1#bidder Auction High Bidder: None



