extends layout

block content
   .mainBlock.uk-grid
     .uk-width-1-1.statusGrid.grid
       h1#status Desert Bus Is Not Currently Auctioning Anything
     .uk-width-1-2.itemGrid.grid
       h1#item Current Item: ???
     .uk-width-1-2.goingGrid.grid
       h1#going
     .uk-width-1-2.priceGrid.grid
       h1#price Current Price: $0.00
     .uk-width-1-2.highBidderGrid.grid
       h1#bidder Auction High Bidder: None



