extends layout

block content
  .uk-vertical-align.uk-height-1-1
    .uk-container-center.uk-vertical-align-middle.mainBlock(data-uk-grid='')
      .uk-width-medium-1-1.uk-vertical-align.statusGrid
        h1.uk-vertical-align-middle#status Desert Bus Is Not Currently Auctioning Anything
      .uk-width-medium-1-2.uk-vertical-align.itemGrid
        h1.uk-vertical-align-middle#item Current Item: ???
      .uk-width-medium-1-2.uk-vertical-align.goingGrid
        h1.uk-vertical-align-middle#going
      .uk-width-medium-1-2.uk-vertical-align.priceGrid
        h1.uk-vertical-align-middle#price Current Price: $0.00
      .uk-width-medium-1-2.uk-vertical-align.highBidderGrid
        h1.uk-vertical-align-middle#bidder Auction High Bidder: None



