extends layout

block content
  div(data-uk-grid='')
    .uk-width-medium-1-1.statusGrid
      h1#status Desert Bus Is Not Currently Auctioning Anything
    .uk-width-medium-1-2.itemGrid
      h1#item Current Item: ???
    .uk-width-medium-1-2.goingGrid
      h1#going
    .uk-width-medium-1-2.priceGrid
      h1#price Current Price: $0.00
    .uk-width-medium-1-2.highBidderGrid
      h1#bidder Auction High Bidder: None



