extends layout

block content
  #text
    h1#status Desert Bus Is Not Currently Auctioning Anything
      h2#going
      h1#price Current Price: $0.00
      h1#bidder High Bidder: None
      h1#startTime Start Time: ???
      h1#endTime End Time: ???

