doctype html
html
  head
    title= 'Desert Bus Auction Watcher'
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="http://code.jquery.com/jquery-1.10.2.js")
    script(src="/javascripts/script.js")
  body
    block content