doctype html
html
  head
    title= 'Desert Bus Auction Watcher'
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="http://code.jquery.com/jquery-1.10.2.js")
    // Loading Bootstrap
    link(href="/thirdparty/Flat-UI-master/bootstrap/css/bootstrap.css", rel="stylesheet")
    link(rel="stylesheet", type="text/css", href="/style.css")
    link(rel="stylesheet", type="text/css", href="/thirdparty/cssConsole-master/cssConsole.css")
    link(href="/thirdparty/Flat-UI-master/css/flat-ui.css", rel="stylesheet")
    script(src="/thirdparty/Flat-UI-master/js/jquery-ui-1.10.3.custom.min.js")
    script(src="/thirdparty/Flat-UI-master/js/jquery.ui.touch-punch.min.js")
    script(src="/thirdparty/Flat-UI-master/js/bootstrap.min.js")
    script(src="/thirdparty/Flat-UI-master/js/bootstrap-select.js")
    script(src="/thirdparty/Flat-UI-master/js/bootstrap-switch.js")
    script(src="/thirdparty/Flat-UI-master/js/flatui-checkbox.js")
    script(src="/thirdparty/Flat-UI-master/js/flatui-radio.js")
    script(src="/thirdparty/Flat-UI-master/js/jquery.tagsinput.js")
    script(src="/thirdparty/Flat-UI-master/js/jquery.placeholder.js")
  body
    block content