doctype html
html
  head
    title= 'Desert Bus Auction Watcher'
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="http://code.jquery.com/jquery-1.10.2.js")
    // Loading Bootstrap
    link(href="/thirdparty/Flat-UI-master/bootstrap/css/bootstrap.css", rel="stylesheet")
    link(href="/thirdparty/Flat-UI-master/css/flat-ui.css", rel="stylesheet")
  body
    block content