doctype html
html.uk-height-1-1
  head
    title= 'Desert Bus Auction Watcher: Winner List'
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/thirdparty/css/uikit.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="/javascripts/jquery.fittext.js")
    script(src="/thirdparty/js/uikit.min.js")
    script(src="/javascripts/winnerList.js")
  body.uk-height-1-1
    nav.uk-navbar
     a.uk-navbar-brand(href='') DB9 Auction Stats
     ul.uk-navbar-nav
       li
         a(href='/') Latest
       li
         a(href='/winnerList') Winners
    .mainBlock.uk-grid
      .uk-width-medium-1-1.statusGrid.grid
         h1 DB9 Winners List
      .uk-width-medium-1-1.itemGrid.grid
         table.uk-table
          thead
            tr
             th Auction Item
             th Winner
             th Winning Bid
             th Time
          tbody