body {
  font-family: 'Open Sans', sans-serif;
}

.hidden {
  display: none;
}

.statusGrid {
  text-align: center;
  background-color: #66B5D6;
}

.itemGrid {
  background-color: #EECA5A;
}

.goingGrid {
  background-color: #E87352;
}

.priceGrid {
  background-color: #5FCE9B;
}

.highBidderGrid {
  background-color: #A489D2;
}

.mainBlock {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
    position: relative;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.tableBlock {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 80%;
  position: relative;
  color: white;
}

.grid {
   border: 1px solid white;
   border-radius: 4px;
   margin: 2%;
   padding: 2%;
   text-align: center;
   margin-bottom: 1% !important;
}

.tableGrid {
   border: 1px solid white;
   border-radius: 4px;
   margin: 2%;
   padding: 2%;
   margin-bottom: 1% !important;
}

.uk-h1, h1 {
    font-size: 4vw !important;
    line-height: 5vw !important;
}

.leftPanel {
    margin-right: 1% !important;
    width: 49% !important;
}

.rightPanel {
    margin-left: 1% !important;
    width: 49% !important;
}