body {

}

.hidden {
  display: none;
}

.statusGrid {
  text-align: center;
}

.mainBlock {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 80%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.grid {
   border: 1px solid #e5e5e5;
   border-radius: 4px;
   margin: 2%;
   padding: 2%;
   text-align: center;
   margin-bottom: 1% !important;
}

.grid h1 {
  
}

.leftPanel {
    margin-right: 1% !important;
    width: 49% !important;
}

.rightPanel {
    margin-left: 1% !important;
    width: 49% !important;
}